<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.books_ko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_Chatting_Room"
            android:exported="false" />
        <activity
            android:name=".Activity_Add_Chatting_Room"
            android:exported="false" />
        <activity
            android:name=".Activity_Add_Memo"
            android:exported="false" />
        <activity
            android:name=".Activity_Book_Memos"
            android:exported="false" />
        <activity
            android:name=".Activity_Review_Write"
            android:exported="false" />
        <activity
            android:name=".ActivityDetailMyBook"
            android:exported="false" />
        <activity
            android:name=".Activity_Book_Add"
            android:exported="false" />
        <activity
            android:name=".Activity_PopUp_in_Search_Book"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Activity_Book_URL"
            android:exported="false" />
        <activity
            android:name=".Activity_Book_Search"
            android:exported="false" />
        <activity
            android:name=".Activity_Setting"
            android:exported="false" />
        <activity
            android:name=".Activity_Change_Pw"
            android:exported="false" />
        <activity
            android:name=".Activity_Find_Pw"
            android:exported="false" />
        <activity
            android:name=".Activity_Set_nickname"
            android:exported="false" />
        <activity
            android:name=".Activity_Main2"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity_Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 카메라 동작시 필요한 provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.books_ko.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="com.example.books_ko.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>